<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN""http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>

	<head>
	
		<meta charset=utf-8 />
		<title>Visual Timetabling</title>
		
		<link rel="stylesheet" href="../css/index.css" />
		<link rel='stylesheet' type='text/css' href='../css/reset.css' />
		<link rel='stylesheet' type='text/css' href='../css/jquery-ui.css' />
		<link rel='stylesheet' type='text/css' href='../css/jquery.weekcalendar.css' />
		<link rel='stylesheet' type='text/css' href='../css/demo.css' />
 		<link rel='stylesheet' type='text/css' href='../css/bootstrap.css' />
 		<link rel='stylesheet' type='text/css' href='../css/colorpicker.css'>
                <script type='text/javascript' src='../js/demo.js'></script>
 		<script type='text/javascript' src='http://ajax.googleapis.com/ajax/libs/jquery/1.3.2/jquery.min.js'></script>
 		<script type='text/javascript' src='http://ajax.googleapis.com/ajax/libs/jqueryui/1.7.2/jquery-ui.min.js'></script>
 		<script type='text/javascript' src='../js/jquery.weekcalendar.js'></script>
 		<script type='text/javascript' src='../js/verif.js'></script>
		<!--<script type='text/javascript' src='../js/demo.js'></script>-->
                
                <script>
                    
                     $(document).ready(function() {


                           var $calendar = $('#calendar');
                           var id = 10;

                           $calendar.weekCalendar({
                              timeslotsPerHour : 4,
                              allowCalEventOverlap : true,
                              overlapEventsSeparate: true,
                              firstDayOfWeek : 1,
                              businessHours :{start: 8, end: 18, limitDisplay: true },
                              daysToShow : 7,
                              height : function($calendar) {
                                 return $(window).height() - $("h1").outerHeight() - 1;
                              },
                              eventRender : function(calEvent, $event) {
                                 if (calEvent.end.getTime() < new Date().getTime()) {
                                    $event.css("backgroundColor", "#aaa");
                                    $event.find(".wc-time").css({
                                       "backgroundColor" : "#999",
                                       "border" : "1px solid #888"
                                    });
                                 }
                              },
                              draggable : function(calEvent, $event) {
                                 return calEvent.readOnly != true;
                              },
                              resizable : function(calEvent, $event) {
                                 return calEvent.readOnly != true;
                              },
                              eventNew : function(calEvent, $event) {
                                 var $dialogContent = $("#event_edit_container");
                                 resetForm($dialogContent);
                                 var startField = $dialogContent.find("select[name='start']").val(calEvent.start);
                                 
                                 var endField = $dialogContent.find("select[name='end']").val(calEvent.end);
                                 //changement formulaire - choix enseignement / classe
                                 var enseignementField = $dialogContent.find("select[name='enseignement']");
                                 var classeField = $dialogContent.find("select[name='classe']");
                                 //var titleField = $dialogContent.find("input[name='title']");
                                 //var bodyField = $dialogContent.find("textarea[name='body']");


                                 $dialogContent.dialog({
                                    modal: true,
                                    title: "Nouvelle séance",
                                    close: function() {
                                       $dialogContent.dialog("destroy");
                                       $dialogContent.hide();
                                       $('#calendar').weekCalendar("removeUnsavedEvents");
                                    },
                                    buttons: {
                                       
                                    }
                                 }).show();

                                 $dialogContent.find(".date_holder").text($calendar.weekCalendar("formatDate", calEvent.start));
                                 setupStartAndEndTimeFields(startField, endField, calEvent, $calendar.weekCalendar("getTimeslotTimes", calEvent.start));

                              },
                              eventDrop : function(calEvent, $event) {
                              },
                              eventResize : function(calEvent, $event) {
                              },
                              eventClick : function(calEvent, $event) {
                                  
                                 var $dialogContent = $("#event_delete_container");
                                 resetForm($dialogContent);
                                 var titleField = $dialogContent.find("input[name='enseignement']").val(calEvent.title);
                                 var startField = $dialogContent.find("input[name='start']").val(calEvent.start);
                                 var endField = $dialogContent.find("input[name='end']").val(calEvent.end);
                                 var codeSeanceField = $dialogContent.find("input[name='codeSeance']").val(calEvent.id);
                                 //changement formulaire - choix enseignement / classe
                                 var enseignementField = $dialogContent.find("select[name='enseignement']");
                                 var classeField = $dialogContent.find("select[name='classe']");
                                 //var titleField = $dialogContent.find("input[name='title']");
                                 //var bodyField = $dialogContent.find("textarea[name='body']");


                                 $dialogContent.dialog({
                                    modal: true,
                                    title: "Supprimer la séance",
                                    close: function() {
                                       $dialogContent.dialog("destroy");
                                       $dialogContent.hide();
                                       $('#calendar').weekCalendar("removeUnsavedEvents");
                                    },
                                    buttons: {
                                       
                                    }
                                 }).show();

                                 $dialogContent.find(".date_holder").text($calendar.weekCalendar("formatDate", calEvent.start));
                                 setupStartAndEndTimeFields(startField, endField, calEvent, $calendar.weekCalendar("getTimeslotTimes", calEvent.start));

                                 /*if (calEvent.readOnly) {
                                    return;
                                 }

                                 var $dialogContent = $("#event_edit_container");
                                 resetForm($dialogContent);
                                 var startField = $dialogContent.find("select[name='start']").val(calEvent.start);
                                 var endField = $dialogContent.find("select[name='end']").val(calEvent.end);
                                 var titleField = $dialogContent.find("input[name='title']").val(calEvent.title);
                                 var bodyField = $dialogContent.find("textarea[name='body']");
                                 bodyField.val(calEvent.body);

                             

                                 var startField = $dialogContent.find("select[name='start']").val(calEvent.start);
                                 var endField = $dialogContent.find("select[name='end']").val(calEvent.end);
                                 $dialogContent.find(".date_holder").text($calendar.weekCalendar("formatDate", calEvent.start));
                                 setupStartAndEndTimeFields(startField, endField, calEvent, $calendar.weekCalendar("getTimeslotTimes", calEvent.start));
                                 $(window).resize().resize(); //fixes a bug in modal overlay size ??
                                 */
                              },
                              eventMouseover : function(calEvent, $event) {
                              },
                              eventMouseout : function(calEvent, $event) {
                              },
                              noEvents : function() {

                              },
                              data : function(start, end, callback) {
                                 callback(getEventData());
                              }
                           });

                           function resetForm($dialogContent) {
                              $dialogContent.find("input").val("");
                              $dialogContent.find("textarea").val("");
                           }

                           function getEventData() {
                              
                              var year = new Date().getFullYear();
                              var month = new Date().getMonth();
                              var day = new Date().getDate();
                              var t =  new Date("2014-11-23");

                              return {
                                 events : [
                                    
              
                                    {% for event in events %}
                               
                                      {
                                       "id": {{event.codeSeance}},
                                       {% if event.heureSeance|length == 3 %}
                                       "start": new Date("{{event.dateSeance|slice(0, 4)}}", "{{event.dateSeance|slice(5, 2) - 1}}", "{{event.dateSeance|slice(8, 2)}}", "{{event.heureSeance|slice(0, 1)}}", "{{event.heureSeance|slice(1, 2)}}"),
                                       "end": new Date("{{event.dateSeance|slice(0, 4)}}", "{{event.dateSeance|slice(5, 2) - 1}}", "{{event.dateSeance|slice(8, 2)}}", "{{event.heureSeance|slice(0, 1) + event.dureeSeance|slice(0, 1)}}", "{{event.heureSeance|slice(1, 2) + event.dureeSeance|slice(1, 2)}}"),
                                       {% else %}
                                       "start": new Date("{{event.dateSeance|slice(0, 4)}}", "{{event.dateSeance|slice(5, 2) - 1}}", "{{event.dateSeance|slice(8, 2)}}", "{{event.heureSeance|slice(0, 2)}}", "{{event.heureSeance|slice(2, 2)}}"),
                                       "end": new Date("{{event.dateSeance|slice(0, 4)}}", "{{event.dateSeance|slice(5, 2) - 1}}", "{{event.dateSeance|slice(8, 2)}}", "{{event.heureSeance|slice(0, 2) + event.dureeSeance|slice(0, 1)}}", "{{event.heureSeance|slice(2, 2) + event.dureeSeance|slice(1, 2)}}"),
                                       {% endif %}
                                       "title":"{{event.nom}}"
                                      
                                      },
                                                
                                                
                                    {% endfor %}
                                    
                                
                                 ]
                              };
                           }


                           /*
                            * Sets up the start and end time fields in the calendar event
                            * form for editing based on the calendar event being edited
                            */
                           function setupStartAndEndTimeFields($startTimeField, $endTimeField, calEvent, timeslotTimes) {

                              for (var i = 0; i < timeslotTimes.length; i++) {
                                 var startTime = timeslotTimes[i].start;
                                 var endTime = timeslotTimes[i].end;
                                 var startSelected = "";
                                 if (startTime.getTime() === calEvent.start.getTime()) {
                                    startSelected = "selected=\"selected\"";
                                 }
                                 var endSelected = "";
                                 if (endTime.getTime() === calEvent.end.getTime()) {
                                    endSelected = "selected=\"selected\"";
                                 }
                                 $startTimeField.append("<option value=\"" + startTime + "\" " + startSelected + ">" + timeslotTimes[i].startFormatted + "</option>");
                                 $endTimeField.append("<option value=\"" + endTime + "\" " + endSelected + ">" + timeslotTimes[i].endFormatted + "</option>");

                              }
                              $endTimeOptions = $endTimeField.find("option");
                              $startTimeField.trigger("change");
                           }

                           var $endTimeField = $("select[name='end']");
                           var $endTimeOptions = $endTimeField.find("option");

                           //reduces the end time options to be only after the start time options.
                           $("select[name='start']").change(function() {
                              var startTime = $(this).find(":selected").val();
                              var currentEndTime = $endTimeField.find("option:selected").val();
                              $endTimeField.html(
                                    $endTimeOptions.filter(function() {
                                       return startTime < $(this).val();
                                    })
                                    );

                              var endTimeSelected = false;
                              $endTimeField.find("option").each(function() {
                                 if ($(this).val() === currentEndTime) {
                                    $(this).attr("selected", "selected");
                                    endTimeSelected = true;
                                    return false;
                                 }
                              });

                              if (!endTimeSelected) {
                                 //automatically select an end date 2 slots away.
                                 $endTimeField.find("option:eq(1)").attr("selected", "selected");
                              }

                           });


                           var $about = $("#about");

                           $("#about_button").click(function() {
                              $about.dialog({
                                 title: "About this calendar demo",
                                 width: 600,
                                 close: function() {
                                    $about.dialog("destroy");
                                    $about.hide();
                                 },
                                 buttons: {
                                    close : function() {
                                       $about.dialog("close");
                                    }
                                 }
                              }).show();
                           });


                        });
                    
                </script>
                
	
		<script>
				function listBlockVisibility(blockId1, blockId2){
		
					var targetBlock = document.getElementById(blockId1);
					var tmp = document.getElementById(blockId2);
                                        var blurred = document.getElementById("blurred");

						if (targetBlock.style.display == "block"){
							
                                                        targetBlock.style.transition = "all 2s";
                                                        targetBlock.style.opacity = "1";
                                                        targetBlock.style.zIndex = "3000";
                                                     
                                                        
                                                        tmp.style.opacity = "0";
                                                        tmp.style.zIndex = "0";
                                                        
                             
							
                                                        
                                                        blurred.style.transition = "all 2s";
                                                        blurred.style.backgroundColor = "black";
                                                        blurred.style.opacity = "0.2";
                                                        
						}
				}
                                
                                
                                
                               
		</script>
    
		
	</head>

	<header>
            <h1>Visual Timetabling <a href="{{path('calendar_logout')}}" title="Déconnexion"><img id="logout-icon" title="Déconnexion" src="{{ asset('images/logout.png') }}" /></a>
            	
            	{% if msgmail == 1 %}
            		<span id="emailno">Adresse mail non renseignée
	 				<span id="infob" display="none">Si votre adresse n'est pas renseignée, vous ne pourrez pas récupérer votre mot de passe.</span></span>
            	{% endif %}
            	<a href="{{path('calendar_gestion_compte')}}" title="GestionCompte"><img id="account-settings" title="GestionCompte" src="{{ asset('images/Settings-02.png') }}" /></a>
            
            </h1>
            
	</header>
	
	<body>
            <div id="blurred" style="background-color: transparent" onclick="displayNone('formulaire_matiere');">
                
                <div id="contain">
                                 <nav id="menu" class="nav">					
                                     <ul>
                                                 <li class="te" onclick="listBlockVisibility('formulaire_matiere', 'formulaire_enseignement');">
                                                                 <span class="label ">Matière</span>
                                                 </li>
                                                 <li class="st" onclick="listBlockVisibility('formulaire_enseignement', 'formulaire_matiere');">
                                                                 <span class="label ">Enseignement</span>
                                                 </li>
                                         </ul>
                                 </nav>


                                 <div id="calendar" style="z-index: 1">
                                 </div>
                </div>


                     <div id="event_edit_container">
                         <form action="{{path('calendar_ajout_seance')}}" method="POST">
                                 <input type="hidden" />
                                 <ul><!--
                                         <li>
                                                 <span>Date: </span><span class="date_holder"></span> 
                                         </li>
                                         -->
                                         <li>
                                             <select name="dateSeance">
                                                 <option class="date_holder"></option>
                                             </select>
                                         </li>
                                         
                                         <li>
                                                 <label for="enseignement">Enseignement: </label>
                                                 
                                                 <select name="enseignement"><option disabled selected>-- Sélectionner un enseignement-- </option>
                                                      {% for enssql in lstSqlEnseignement %}
                                                          <option value="{{ enssql.codeEnseignement }}">{{ enssql.nom }}</option>
                                                      {% endfor %}
                                                 </select>
                                         </li>
                                         
                                         <li>
                                                 <label for="start">Heure de début: </label><select name="start"><option value="">-- Sélectionner l'heure de début --</option></select>
                                         </li>  
                                         
                                         <li>
                                                 <label for="commentaire">Commentaire: </label><input type="text" name="commentaire">
                                         </li>
                                         
                                         <li>
                                             <button type=submit>Valider</button>
                                             <bud
                                         </li>
                                 </ul>
                         </form>
                 </div>
                                                 
                 <div id="event_delete_container">
                     <form action="{{path('calendar_ajout_seance')}}" method="POST">
                         <input type="hidden" name="codeSeance">
                         <input type="hidden" />
                                 <ul><!--
                                         <li>
                                                 <span>Date: </span><span class="date_holder"></span> 
                                         </li>
                                         -->
                                         <li>
                                             <select name="dateSeance">
                                                 <option class="date_holder"></option>
                                             </select>
                                         </li>
                                         
                                         <li>
                                                 <label for="enseignement">Enseignement: </label><input type="text" name="enseignement" disabled="disabled">
                                                 
                                         </li>
                                         
                                         <li>
                                                 <label for="start">Heure de début: </label><input type="text" name="start" disabled="disabled">
                                         </li>  
                                         
                                         <li>
                                                 <label for="start">Heure de fin: </label><input type="text" name="end" disabled="disabled">
                                         </li>  
                                         
                                         <li>
                                                 <label for="commentaire">Commentaire: </label><input type="hidden" name="commentaire" disabled="disabled">
                                         </li>
                                         
                                         <li>
                                             <button type=submit>Valider</button>
                                             <bud
                                         </li>
                                 </ul>
                     </form>
                 </div>
                 
                                                 
                                                 
                                                 

            </div>
            
            
            <div id="formulaire_matiere"  class="box" style="opacity: 0; display:block; z-index: 0 ">
                <form action="{{path('calendar_ajout_matiere')}}" method="POST">
                         <fieldset>
                                 <legend>Nouvelle matière</legend>

                                 <ol>
                                   <li>
                                       <label for=nom>Nom</label><br>
                                         <input id= "nom" name= "nom" type="text" placeholder="Intitulé matière" required autofocus>
                                   </li>
                
                                 </ol>
                         </fieldset>
                         <fieldset>
                                 <button type=submit>Valider</button>
                         </fieldset>
                         <footer class="matiere_clearfix">
                    		<p>
                    			<a href="{{path('calendar_home_page')}}">Retour</a>
                    		</p>
                    	</footer>
                    </form>
                 </div>


                 <!-- Fin formulaire ajout matière-->



                 <!-- Formulaire ajout enseignement -->

                 <div id="formulaire_enseignement" class="box" style="opacity: 0; display:block;  z-index: 0 ">
                    <form action="{{path('calendar_ajout_enseignement')}}" method="POST"  onsubmit="return verifForm(this)">

                         <fieldset>
                                 <legend>Nouvel enseignement</legend>

                                 <ol>
                                   <li>
                                         <label for=nom>Nom de l'enseignement</label><br>
                                         <input id="nom" name="nom" type="text" placeholder="Intitulé" onblur="verifTexteField(this)" required autofocus>
                                          <span>Entrez le nom complet de l'enseignement</span>
                                   </li>
                                   <li>
                                            <label for=codematiere>Matière associée</label><br>
                                            <select name="lstMatieres" id="lstm" required>
                                               <option disabled selected value="-1"> -- Sélectionnez une matière -- </option>
                                               {% for matsql in lstSqlMatiere %}
                                                   <option value="{{ matsql.codeMatiere }}">{{ matsql.nom }}</option>
                                               {% endfor %}
                                            </select>
                                            <span>Choisissez la matière associée</span>
                                      </li>
                                      <li>
                                            <label for=dureetotale>Durée de l'enseignement</label><br>
                                            <input id="dureetotale" name="dureetotale" type="number" placeholder="Durée de l'enseignement" required>
                                            <span>Entrez la durée totale de l'enseignement</span>
                                      </li>
                                      <li>
                                            <label for=dureeseance>Durée des séances</label><br>
                                            <input id="dureeseance" name="dureeseance" type="number" placeholder="Durée des seances" required>
                                           <span>Entrez la durée d'une séance</span>
                                      </li>
                                      <li>
                                            <label for=alias>Alias</label><br>
                                            <input id="alias" name="alias" type=text placeholder="Alias matière" required>
                                            <span>Entrez l'alias de la matière associée à l'enseignement</span>
                                      </li>
                                      <li>
                                            <label for=codetypesalle>Code du type de salle</label><br>
                                            <select name="codetypesalle" id="lstcodetypesalle" required>
												{% for typesql in lstSqlType %}
                                                 	{% if typesql.codeTypeSalle == 1789 %}
                                                     	<option selected value="{{ typesql.codeTypeSalle }}">{{ typesql.nom }}</option>
                                                    {% else %}
                                                    	<option value="{{ typesql.codeTypeSalle }}">{{ typesql.nom }}</option>
                                                    {% endif %}
                                                 {% endfor %}
                                              </select>
                                            <span>Type de salle où aura lieu l'enseignement</span>
                                      </li>
                                      <li>
                                            <label for=codezonesalle>Code zone de salle</label><br>
                                            <select name="codezonesalle" id="lstcodezonesalle" required>
                                               {% for zonesql in lstSqlZoneSalle %}
	                                               {% if zonesql.codeZoneSalle == 1 %}
	                                                   	<option selected value="{{ zonesql.codeZoneSalle }}">{{ zonesql.nom }}</option>
	                                               {% else %}
	                                               		<option value="{{ zonesql.codeZoneSalle }}">{{ zonesql.nom }}</option>
	                                               {% endif %}
                                               {% endfor %}
                                            </select>
                                            <span>Zone où aura lieu l'enseignement</span>
                                      </li>
                                      <li>
                                            <label for=nbseanceshebdo>Nombre de séances par semaine</label><br>
                                            <input id="nbseanceshebdo" name="nbseanceshebdo" type="number" placeholder="Nombre de séances hebdomadaire" required>
                                            <span>Renseignez le nombre de séances hebdomadaire prévu</span>
                                      </li>
                                      <li>
                                            <label for="dateDebut">Début de l'enseignement</label><br>
                                            <input id="dateDebut" name="dateDebut" type="date" placeholder="Commence le" required>
                                            <span>Renseignez la date de début de l'enseignement</span>
                                      </li>
                                      <li>
                                            <label for="dateFin">Fin de l'enseignement</label><br>
                                            <input id="dateFin" name="dateFin" type="date" placeholder="Se termine le" required>
                                            <span>Renseignez la date de fin de l'enseignement</span>
                                      </li>
                                      <li>
                                            <label for="identifiant">Identifiant de l'enseignement</label><br>
                                            <input id="identifiant" name="identifiant" type="text" placeholder="Identifié par" required>
                                            <span>Renseignez l'identifiant de l'enseignement</span>
                                      </li>
                                      <li>
                                            <label for="codeNiveau">Code niveau de l'enseignement</label><br>
                                              <select name="codeNiveau" id="lstcodeniveau" required>
                                                 <option disabled selected value="-1"> -- Sélectionnez le niveau de l'enseignement -- </option>
                                                 {% for lvlsql in lstSqlNiveau %}
                                                     <option value="{{ lvlsql.codeNiveau }}">{{ lvlsql.nom }}</option>
                                                 {% endfor %}
                                              </select>
                                            <span>Renseignez le niveau de l'enseignement</span>
                                      </li>
                                      
                                    <li>
                                         <label for="Composante">Composante</label><br>
                                           <select name="composante" id="lstcomposante" required>
                                               {% for lvlsql in lstSqlComposante %}
	                                              {% if lvlsql.codeComposante == 1 %}
	                                                  	<option selected value="{{ lvlsql.codeComposante }}">{{ lvlsql.nom }}</option>
	                                              {% else %}
	                                              		<option value="{{ lvlsql.codeComposante }}">{{ lvlsql.nom }}</option>
	                                              {% endif %}
                                              {% endfor %}
                                           </select>
                                         <span>Renseignez la composante de l'enseignement</span>
                                   </li>
                                   <li>
                                         <label for="TypeActivite">Type d'Activité</label><br>
                                           <select name="typeactivite" id="lsttypeactivite" required>
                                              <option disabled selected value="-1"> -- Sélectionnez le type d'activité -- </option>
                                              {% for lvlsql in lstSqlTypeActivite %}
                                                  <option value="{{ lvlsql.codeTypeActivite }}">{{ lvlsql.nom }}</option>
                                              {% endfor %}
                                           </select>
                                         <span>Renseignez le type d'activité pour l'enseignement</span>
                                   </li>
                                   <li>
                                         <label for="commentaires">Commentaires</label><br>
                                         <TEXTAREA name="commentaires" rows="10" cols="30"></TEXTAREA>
                                         <span>Commentaires sur l'enseignement à ajouter</span>
                                   </li>
                                 </ol>
                         </fieldset>
                         <fieldset>
                                 <button type="submit">Valider</button>
                         </fieldset>
						<footer class="clearfix">
                    		<p>
                    			<a href="{{path('calendar_home_page')}}">Retour</a>
                    		</p>
                    	</footer>

                      </form>
                 </div>

                 <!-- Fin formulaire ajout enseignement-->
	</body>
        
        <footer>
            <div id="footer">
                <div id="copyright"><img id="logo_ueve" src="{{asset('images/logo_ueve.png')}}"/>Copyright © 2014 - 2015 Université d'Evry Val d'Essonne</div>
                <div id="developers">Chistelle AYANGMA & Laïny VINCENT & Kevin ANANDOUT</div>
                 
                
            </div>
        </footer>
        
</html>
  